 
        .dropbtn {
            background-color: #5d0ca8;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }
          
          
          .dropdown {
            position: center;
            display: inline-block;
          }
          
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #d3b1e0;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
      
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          
          .dropdown-content a:hover {background-color: #ba97d6}
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
                  
          .dropdown:hover .dropbtn {
            background-color: #7e3e8e;
          }